doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    title Clusterfacts
    link(href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css")
    link(href="css/clusterfacts.css" rel="stylesheet" type="text/css")
  body
    //-
      h1#RoundTitle
      h3#RoundDescription
      .date-written
        | this round was written 
        time#DateWritten
      dl#Questions
    
    section.asking
      span.question-number.number 1
      h1.round-title
      h2.big-question#BigQuestion
    
    section.summary
      h1.round-title
      ol.question-list
    
    section.answering
      span.question-number.number 1
      h1.round-title
      h2.big-question
      h3.big-answer
    
    script(src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous")
    script(src="js/min/clusterfacts.min.js" charset="utf-8")